:root {
    --background-color: #fff;
    --text-color: #000;
    --button-fill: #e0e0e0;
    --button-hover-fill: #c0c0c0;
    --correct-color: #4CAF50;
    --wrong-color: #F44336;
    --font-family: 'Arial', sans-serif;
}

body.dark {
    --background-color: #333;
    --text-color: #fff;
    --button-fill: #555;
    --button-hover-fill: #777;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
    overflow-x: hidden; /* Disable horizontal scrolling */
    width: 100%; /* Ensure the body takes up the full viewport width */
    user-select: none;

}

.selectable {
    user-select: text;
}
.non-selectable {
    user-select: none;
}
.all-selectable {
    user-select: all;
}

.question-navigator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.question-navigator input[type="number"] {
    width: 60px;
    padding: 5px;
    margin-right: 5px;
    border: 2px solid var(--button-fill);
    border-radius: 4px;
    text-align: center;
}
.option-button {
    margin-right: 10px;   /* Provides spacing between the button and the text */
}
.question-box {
    margin: 2px 0px 40px;
    font-size: 1.8em;
    text-align: left;
    padding: 5px;
    border: 1px solid var(--button-fill);
    border-radius: 4px;
    margin-bottom: 40px;
    margin-top:2px;
    display: flex;        /* Establishes a flex container */
    flex-wrap: wrap;      /* Allows items to wrap onto multiple lines */
    align-items: flex-start; /* Aligns items to the start of the flex container */
}

#question-text {
    margin-top:0px;
    flex: 1;             /* Allows the text to fill the remaining space */
    white-space: normal; /* Ensures text wraps and does not overflow */
}

.controls {
    position: fixed;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
}

.controls button {
    background-color: var(--button-fill);
    color: var(--text-color);
    border: none;
    padding: 3px 35px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.controls button:hover {
    background-color: var(--button-hover-fill);
}

.option-button {
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 10px;
    padding: 8px 10px;
    background-color: transparent;
    color: var(--text-color); /* Ensure this is explicitly set */
    border: 2px solid var(--button-fill);
    border-radius: 5px;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s; /* Add transition for color */
    font-size: 0.75em;
    user-select: all;
}

.question-navigator input[type="number"] {
    width: 40px;
    padding: 0px;
    margin-right: 5px;
    border: 2px solid var(--button-fill);
    border-radius: 4px;
    text-align: center;
    background-color: var(--input-background-color); /* Use variable for background */
    color: var(--input-text-color); /* Use variable for text color */
    transition: background-color 0.2s, color 0.2s, border-color 0.2s; /* Add transitions for smooth effect */
}

.option-button:hover {
    background-color: var(--button-hover-fill);
    cursor: pointer; /* Changes cursor to hand pointer on hover */
}

.option-button.correct {
    background-color: var(--correct-color);
    border-color: var(--correct-color);
}

.option-button.wrong {
    background-color: var(--wrong-color);
    border-color: var(--wrong-color);
}

.transition-element {
    transition: transform 0.2s ease; /* Adjust duration and timing function as needed */
}


/* Menu CSS */
.menu-button {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #f0f0f0;
    color: #333;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.menu {
    position: absolute;
    top: 47px;
    right: 5px;
    background-color: transparent;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, border-color 0.3s ease-in-out; /* Add border-color transition */
    max-height: 0;
}

.menu-button:hover {
    background-color: var(--button-hover-fill);
}

.menu-item {
    padding: 10px;
    color: var(--text-color);
    background-color: var(--button-fill);
    transition: background-color 0.2s;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 2px;
}

.menu-item:hover {
    background-color: var(--button-hover-fill);
}
