:root {
    --background-color: #fff;
    --text-color: #000;
    --button-fill: #e0e0e0;
    --button-hover-fill: #c0c0c0;
    --correct-color: #4CAF50;
    --wrong-color: #F44336;
    --font-family: 'Tahoma', sans-serif;
    --button-border: 1px solid rgba(0, 0, 0, 0.229);
}

body.dark {
    --background-color: #333;
    --text-color: #fff;
    --button-fill: #555;
    --button-hover-fill: #777;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
    overflow-x: hidden; /* Disable horizontal scrolling */
    width: 100%; /* Ensure the body takes up the full viewport width */
}

/* Footer Layout */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

/* Menu Button */
.menu-button {
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 4px;
    transition: background-color 0.2s;
    color: var(--text-color);
    background-color: var(--button-fill);
    border: var(--button-border);
}

.menu {
    position: absolute;
    bottom: 60px;
    left: 10px;
    background-color: transparent;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, border-color 0.3s ease-in-out;
    max-height: 0;
    border-color: transparent;
}

.menu.open {
    max-height: 500px;
    border-color: #ccc;
}

.menu-item {
    padding: 10px;
    color: var(--text-color);
    background-color: var(--button-fill);
    transition: background-color 0.2s;
    cursor: pointer;
    border: var(--button-border);
    border-radius: 4px;
    margin-bottom: 2px;
}

/* Read Button */
/* .read-button {
    background-color: var(--button-fill);
    color: var(--text-color);
    border: var(--button-border);
    padding: 7px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}
 */
/* Question Navigator */
.question-navigator {
    display: flex;
    align-items: center;
}

#question-number {
    width: 40px;
    padding: 2px;
    margin: 0 5px;
    border: 2px solid var(--button-fill);
    border-radius: 4px;
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

/* Navigation Buttons */
.navigation-buttons {
    display: flex;
    gap: 10px;
}

.navigation-buttons button {
    background-color: var(--button-fill);
    color: var(--text-color);
    border: var(--button-border);
    padding: 7px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.navigation-buttons button:hover,
.menu-button:hover,
.menu-item:hover {
    background-color: var(--button-hover-fill);
}

.selectable {
    user-select: text;
    -webkit-user-select: text; /* Safari */
    -ms-user-select: text; /* Internet Explorer/Edge */
}
.non-selectable {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
.all-selectable {
    user-select: all;
    -webkit-user-select: all; /* Safari */
    -ms-user-select: all; /* Internet Explorer/Edge */
}


/* Question Section */
.question-box {
    margin: 2px 0px 40px;
    font-size: 1.8em;
    text-align: left;
    padding: 5px;
    border: 1px solid var(--button-fill);
    border-radius: 4px;
    margin-bottom: 40px;
    margin-top:2px;
}

#question-text {
    margin-top:0px;
    margin-right: 5px;
    margin-left: 5px;
}
#question-text img {
    width: 100%;
    max-width: 100%;
}
#explanations-container{
    font-size: 3vh;
}


.option-button {
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 10px;
    padding: 8px 10px;
    background-color: transparent;
    color: var(--text-color); /* Ensure this is explicitly set */
    border: 2px solid var(--button-fill);
    border-radius: 5px;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s; /* Add transition for color */
    font-size: 0.75em;
}

.option-button:hover {
    background-color: var(--button-hover-fill);
    cursor: pointer; /* Changes cursor to hand pointer on hover */
}

.option-button.correct {
    background-color: var(--correct-color);
    border-color: var(--correct-color);
}

.option-button.wrong {
    background-color: var(--wrong-color);
    border-color: var(--wrong-color);
}
/* Grid Layout for Test Container */
#test-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 10px), 1fr)); /* Creates a flexible grid with max 3 columns */
    gap: 5px; /* Sets the space between grid items */
    padding: 5px;
    width: 100%; /* Full width to utilize all available space */
    height: calc(100vh - 20px); /* Full viewport height minus any additional padding/margins */
    overflow: auto; /* Allows for scrolling within the container if content overflows */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    margin-top: 20px;
}

/* Button styles within test container */
#test-container button {
    width: 100%; /* Full width of the grid cell */
    padding: 10px;
    border: var(--button-border);
    border-radius: 4px;
    background-color: var(--button-fill);
    color: var(--text-color);
    text-align: center;
    cursor: pointer; /* Hand pointer on hover */
    font-family: var(--font-family);
    font-size: calc(1vw + 1vh + 1vmin);
    transition: background-color 0.2s, border-color 0.2s; /* Smooth transition for color and border changes */
}

#test-container button:hover {
    background-color: var(--button-hover-fill);
}

/* Responsive adjustments for smaller screens or fewer items */
@media (max-width: 600px) {
    #test-container {
        grid-template-columns: repeat(auto-fill, minmax(calc(50% - 10px), 1fr)); /* Adjust to 2 columns on small screens */
    }
}

@media (max-width: 400px) {
    #test-container {
        grid-template-columns: 1fr; /* Single column on very small screens */
    }
}
/* PopUp Error window */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--button-border);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s;
    size: 2vw;
}

.popup.show {
    visibility: visible;
    animation: fadeInOut 4s forwards;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}